# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore these files
plugin-content-template.php
content-plugin.php
parts/content-plugin.html

# ignore specific themes
wp-content/themes/twenty*/

# ignore node  and composer dependency directories
node_modules/
vendor/

# ignore log files and databases
*.log
*.sql
*.sqlite

# Build
build/

# OS Settings
.DS_Store

# VS Code Local Settings
settings.json

# Misc
utility.php
*.zip
