// Accessibility links we hide at the top of every page

#access-links {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	> li {
		position: relative;
		background-image: none;
		list-style: none;
		margin: 0;
		padding: 0;
		a {
			background-color: rgba(0, 0, 0, 0.8);
			color: #CCC;
			display: block;
			font-size: 1.8em;
			font-weight: 700;
			left: -900em;
			outline: none;
			padding: 1.2em 2em 1.2em 3.2em;
			position: absolute;
			text-decoration: none;
			text-transform: uppercase;
			top: 0;
			width: 100%;
			z-index: 100;

			&:focus {
				left: 0;
				background-color:#45ec00;
				color:#333;
			}
		}
	}
}