// Custom rules for images in news articles

.article-video,
.article-image {
  display:inline-block;
  clear: right;
  width: auto;
  float:right;
  padding: 0.5em;
  margin:0 0 1em 1em;

  // Image inside of figure is always 100%
  iframe,
  img {
    background-color: transparent;
    display:block;
    width:100%;
    height:auto;
    padding: 0;
  }

  iframe {
    aspect-ratio: 16/9;
  }

  // Caption styles
  .caption {
    margin: 0;
    line-height: 1.35;
    padding: .5em .25em;
    font-family:$font-family-sans-serif;
    width:0;
    min-width: 100%;

    p {
      margin: 0;
        color: $brown-dark;
        font-size: .9rem;
    }
  }

  // Width modifier classes
  &.width-110 {
    max-width: 110px;
    @include media($mobile) {
       max-width: 25%;
    }
  }

  &.width-180 {
    max-width: 180px;
    @include media($mobile) {
       max-width: 35%;
    }
  }

  &.width-280 {
    max-width: 280px;
    @include media($mobile) {
       max-width: 40%;
    }
  }

  &.width-350 {
    max-width: 350px;
    @include media($mobile) {
       max-width: 50%;
    }
  }

  &.width-480 {
    max-width: 480px;
    @include media($mobile) {
       max-width: 100%;
       margin-left: 50%;
    }
  }

  &.width-580 {
    max-width: 580px;
    @include media($mobile) {
       max-width: 67%;
    }
  }

  &.width-full {
    max-width: 100%;
    margin-left: 0;
  }

  // At mobile width, all figures are 100%
  @include media($mobile) {
    width:100%;
    max-width:100%;
  }


}

@supports not (aspect-ratio) {
  .article-video {
    position: relative;
    max-width: 450px;
  }

  .article-video::before {
    float: left;
    padding-top: 56.25%;
    content: "";
  }

  .article-video::after {
    display: block;
    content: "";
    clear: both;
  }

  .article-video>iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}
