// Rules for home page carousels

/* ===============================================================
Slide Styles
================================================================*/

// Custom clearfix
@mixin slider-clearfix {
	  display: table;
	  overflow: auto;
	  zoom: 1;
}

// Left and right column layouts
@mixin layout-left-right {
	@include media ($mobile) {
		max-width: 100%;
		text-align: left;
	}

	@include media ($tablet) {
		width: 100%;
		max-width: 50%;
		margin: 2% 0 ;
	}
}

// Top and bottom full-width layouts
@mixin layout-horizontal {
	@include media ($mobile) {
		padding: 1.5em 1em;
	}
	@include media ($tablet) {
		height: 35%;
		margin: 0;
		width:100%;
		padding: .4em 0;
	}
}

@mixin slider-position {
	@include media ($mobile) {
		position: none;
	}
	@include media ($tablet) {
		position: absolute;
	}

}

// COLUMN RULES

@mixin billboard-title {
	.slide-title {
		font-family: $font-family-sans-serif;
		font-weight: 700;

		@include media($tablet-minus) {
			font-size: 2.5em;
			margin: 0 0 0.10em;
		}

		@include media($tablet) {
			font-size: 2.5em;
		}
	}

}

@mixin billboard-teaser{
	.slide-teaser {
		@include media($mobile) {
			font-size: 1.1em;
		}

		@include media($tablet)  {
			font-size: 1.2em;
		}
	}

}

@mixin billboard-slider-a {

	@include media($mobile) {
		font-size: .9em;
	}

	@include media($tablet)  {
		font-size: .9em;
	}
}


// HORIZONTAL RULES

@mixin horizontal-title {
	.slide-title {
		display: block;
		font-size: 2.5em;
		font-weight: 500;
		max-width:803px;
		padding:0;
		text-align: left;
		width: 100%;

	  @include media($tablet) {
			display: table-cell;
			font-size: 3em;
			line-height: .95em;
			margin: 0;
			padding: .25em .25em .25em;
			text-align: right;
			vertical-align: middle;			
			width: 40%;
	  }
	}
}


@mixin horizontal-teaser {
	.slide-teaser {
		display: block;
		font-size: 1.25em;
		margin: 0;
		position: relative;
		width: 100%;

	  @include media($tablet)  {
			display: table-cell;
			font-size: 1.5em;
			line-height: 1.3;
			padding: .25em .25em .25em;
			vertical-align: middle;
			width: auto;
	  }
	}
}

.slide {
	position:relative;
	max-width: 100%;
	margin-bottom: 5px;
	font-size: $font-size-small;
	max-height: 362px;
	overflow:hidden;

	.www & {
		max-height: 620px;
	}

	img {
		width:100%;
		height: auto;
		z-index: 1;
	}

}

.slide-body {
	// Defaults: if for some reason the theme and
	// layout classes aren't added, these rules take precedence.
	width: 100%;
	bottom: 0;
	z-index:1;
	padding: 2em 2.5em 2em 2.5em;

	@include slider-position;
	.slide-title {
		line-height: 90%;
	}

	a {
		color: $gold;
		text-decoration: none;
		@include billboard-slider-a;
  	 &:after {
    		content: " »";
  		}
	}

	&.layout-left {
		@include billboard-title;
		@include billboard-teaser;
		@include layout-left-right;
		left:0;
	}

	&.layout-right{
		@include billboard-title;
		@include billboard-teaser;
		@include layout-left-right;
		text-align: left;
		right: 0;
	}

	&.layout-top {
	   	@include layout-horizontal;
	   	@include horizontal-title;
	   	@include horizontal-teaser;
	   	@include slider-clearfix;
	   	top:5%;
  }

	&.layout-bottom{
		@include layout-horizontal;
		@include horizontal-title;
		@include horizontal-teaser;
		@include slider-clearfix; /* T */
		bottom: 5%;
	}

}

/* ===============================================================
Color Themes
================================================================*/

// A map of color theme settings for these slides.
$themes: (
  "blue": (
	 background-color: $brand-primary-blue,
	 color: #fff
  ),
	"pink": (
	 background-color: $brand-pink,
	 color: #fff
  ),
	"green": (
	 background-color: $brand-turquoise,
	 color: #fff
  ),
	"light-blue": (
	 background-color: $brand-tertiary-blue,
	 color: #fff
  ),
  "gold": (
    background-color: $brand-gold,
    color: $brand-primary-blue
  ),
	"lime": (
		background-color: $brand-green,
		color: $brand-primary-blue
	)
);

// Loop over the mapped themes and output a rule for each one.
@each $color, $i in $themes {
    .color-#{nth($color, 1)} {
    		background-color:#{map-get($i, background-color)};
        .slide-title {
        	color:#{map-get($i, color)};
        }
				p {
        	color:#{map-get($i, color)};
        }
        a {
        	color:#{map-get($i, color)};
        }
    }
}


/* ===============================================================
Pagination Styles
================================================================*/
.owl-buttons {
	display: none;
}
.owl-theme .owl-controls{
	// position: absolute;
	bottom:0;
	right:0;
	padding: 0 10px;
}

// The control dots under each set of billboards.
.owl-controls .owl-pagination {

	.owl-page span {
		background-color:$gray-light;
		opacity:0.25;
		border-radius: $border-radius-base;
		color: #ECE9D8;
		font-size: $font-size-base;
		padding: 0.5em 1.5em;
		margin: 0 0.25em;
	}

	.owl-page.active span {
		background-color:$gray-light;
	}

}
