// Rules for images within blocks
.block img {
  // border-radius: $border-radius-base / 2;
  // padding: .25em;

  .dark & {
    background-color: $sand-light;
  }

  .light & {
    background-color: transparent;
  }
}

// Block images with a width of 216px should extend full-width
.block [width="216"] {
  display: block;
  height: auto;
  margin-bottom: .5em;
  width: 100%;
}
