@use "sass:math";

// Block: profiles and video teasers
.profile-block,
.video-block {

	img {
		display:block;
		width:100%;
		height:auto;
		margin-bottom: #{math.div(14, $browser-context)}em;

		&.play-button {
			width:auto;
			position:absolute;
			margin:0.5em 0 0 0.5em;
			padding:0;
			opacity: 0.75;
			background-color: transparent;
		}

	}

	.title,
	.uptitle {
		text-transform: uppercase !important;
	}

}


/**
*		Profile images on department &
*		division sites are not full-width,
*		so they shouldn't be 100% wide.
*/
.dept .profile-block,
.division .profile-block {

	.block-image {
		float: left;
		margin-bottom: 0.5em;
		margin-right: 0.5em;
		
		height: auto;
	}

}
