// Layout rules for blocks on home pages
@mixin module-box($columns) {
  @include outer-container;
  .wrap {
    @include span-columns($columns);
  }
}


// Module row with three columns
.three {

  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include media($tablet) {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    justify-content: space-evenly;    
  }

  .wrap {
    @include media($tablet) {
      flex: 0 1 33%;
    }
  }
}

// Module row with four columns
.four {

  display: flex;
  flex-direction: column;
  gap: 1.6em;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  @include media($tablet) {

    flex-direction: row;
    background-color: #ebebeb;
    margin-bottom: 0;
    padding: 2em 1.6em;

    .wrap {
      flex: 0 1 25%;
    }
  }

}


.five {

  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(auto-fit, minmax(194px, 1fr));
  align-items: start;
  justify-content: space-between;

  > div { 
  
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

  .wrap {
    margin:0 0 1em 0;
    
    @include media($tablet) {
      margin:0 0 2em 0;
    }
  }



.list {

  ul {
    li {
      @include span-columns(4);
      @include image-display($sand-dark, 0.2em, false);
    }
  }
}

.more {
  background-image: none;
  text-align: right;
  clear: both;
}

.content-box a.more,
.content-box .more a,
a.more,
.more a {
  background: transparent url(../images/right-arrow.svg) no-repeat right 58%;
  background-size: 14px;
  padding: 0 14px 0 0;
  text-transform:none;
  text-decoration: none;
  @include hoverActiveFocus;
}

.block table {
  margin-bottom: 1em;
}

// Block headers
.block-header {

  color: $brown-dark;
  font-family: $font-family-sans-serif-condensed;
  font-weight: 600;
  border-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0 .85em 0;
  line-height: 1.2em;

  a {
    color: inherit;
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
      color: $blue;
      text-decoration: underline;
      text-decoration-color: $gold;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: 4px;
    }
  }

}
