// Block: news article teasers
#news,
.news-block {

	ul {
		@include reset(list);

		li {
			clear: both;
			line-height:130%;
			margin: 0 0 0.5em;
			min-height: 80px;
			padding: 0;
			background-image: none;
			list-style-type: none;

			img {
				float: left;
				display: block;
				margin: 0 0.5em 0.5em 0;
				width:80px;
				height:auto;
			}

			.date {
				color: $brand-medium-gray;
				display: block;
				margin:0;
			}

		}
	}
}
