//BREADCRUMBS

.breadcrumbs-region {
	margin-block-start: 0.5rem;
	margin-block-end: 2rem;

	.page-template-page-no-title-with-breadcrumbs &,
	.page-template-page-no-title & {
		margin-block-end: 0.25rem;
	}
}

// Wrapper element.
.ucsc-page-header__breadcrumbs {
	font-size: var(--wp--preset--font-size--one);
}

.breadcrumbs {
	// Title. Note that this is the heading that says "Browse:". The code
	// puts it inline with the trail.
	&__title {
		display: inline-block;
		margin: 0 0 1.5rem;
		font-size: inherit;
		color: inherit;
	}

	// List.
	&__trail {
		list-style: none;
		display: inline-block;
		margin: 0 0 0.35em;
		padding-inline-start: 0;
	}

	// Individual crumbs.
	&__crumb {
		display: inline-block;
		font-size: 0.85rem;
		line-height: 1.1;
		font-weight: 400;
		text-transform: none;
		letter-spacing: 0.03em;

		a {
			border-bottom: 0;
			text-decoration: none;
			color: rgba(0, 0, 0, 0.68);

			&:active,
			&:focus,
			&:hover {
				color: var(--wp--preset--color--ucsc-primary-blue);
				text-decoration: underline;
				text-decoration-thickness: 0.1em;
				text-underline-offset: 0.15em;
			}
		}

		> span {
			color: rgba(0, 0, 0, 0.68);
			font-weight: 500;
		}

		// Add separators.
		&::after {
			content: "/";
			padding: 0 0.58em;
			font-size: 1em;
			font-weight: 600;
			color: var(--wp--preset--color--ucsc-ocean-blue);
		}

		&:last-of-type::after {
			display: none;
		}
	}
}
