.search input[type=submit] {
    background: url(https://webassets.ucsc.edu/images/looking-glass.svg) no-repeat;
    background-position: 50%;
    background-size: 22px;
    border: 0;
    left: auto;
    outline: none;
    text-indent: -100em;
    top: 8%;
    width: 2em;
    z-index: 100;
}
.wp-block-search__button {
  background:none;
  border: none;
  color: var(--wp--preset--color--ucsc-primary-blue);
}

