.search input[type=submit] {
    background: url(https://webassets.ucsc.edu/images/looking-glass.svg) no-repeat;
    background-position: 50%;
    background-size: 22px;
    border: 0;
    left: auto;
    outline: none;
    text-indent: -100em;
    top: 8%;
    width: 2em;
    z-index: 100;
}
.wp-block-search__button {
  background:none;
  border: none;
  color: var(--wp--preset--color--ucsc-primary-blue);
}

.is-style-ucsc-blue .wp-block-button__link {
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--ucsc-primary-blue);
}

.is-style-ucsc-blue .wp-block-button__link:focus,
.is-style-ucsc-blue .wp-block-button__link:hover,
.is-style-ucsc-blue .wp-block-button__link:active {
	color: var(--wp--preset--color--ucsc-primary-blue);
	background-color: #bfdaeb;
}

.is-style-ucsc-gold .wp-block-button__link {
	color: var(--wp--preset--color--ucsc-rubine-red);
	background-color: var(--wp--preset--color--ucsc-primary-yellow);
}

.is-style-ucsc-gold .wp-block-button__link:focus,
.is-style-ucsc-gold .wp-block-button__link:hover,
.is-style-ucsc-gold .wp-block-button__link:active {
	background-color: #ffe599;
}

.is-style-ucsc-red .wp-block-button__link {
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--ucsc-rubine-red);
}

.is-style-ucsc-red .wp-block-button__link:focus,
.is-style-ucsc-red .wp-block-button__link:hover,
.is-style-ucsc-red .wp-block-button__link:active {
	color: var(--wp--preset--color--ucsc-rubine-red);
	background-color: #f6c8db;
}

.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:active {
	transition: all .3s ease-in-out;
}
