/*doc
---
title: Featured Story
name: component
category: Components
---

```html_example
<div class="feature-story">
  <span class="meta">Featured story</span>
  <a href="link-to-story.html">
    <img alt="alt-text" class="thumbnail" src="http://news.ucsc.edu/2014/02/images/hands-on-globe-80.jpg?t=0">
  </a>
  <h2 class="headline">
    <a href="link-to-story.html">Featured story headline. try to be clear and succinct</a>
  </h2>
  <p class="description">
    The description is the teaser for the story. Usually about the size of tweet (160 characters or less), this will entice the reader to want to learn more. No pontificating!
  </p>
</div>
```

*/

.feature-story {
  font-size: 110%;
  padding: 1.3em 1.5em;
  margin-bottom: 2em;
  box-shadow: 0px 0.25rem 8px rgb(36 49 66 / 20%);

  .type {
    font-size: .8em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.4em;
    font-weight: 700;
    font-family: $font-family-sans-serif-condensed
  }
  .description,
  p {
    line-height: 1.6;
    margin:0.5em 0;
    font-size: .9em;
  }
  .headline,
  h2 {
    margin:0 0 0.5em;
    line-height:1.4;
  }
  .thumbnail,
  img {
    float:right;
    margin: 0 0 1em 0.8em;
  }

  a {
  }
}
