@use "sass:math";
// Gallery pages have linked thumbnails

.thumb-grid {

  list-style: none;
  margin:0;
  padding:0;
  // Flexbox layout
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-end;
  align-items: flex-start; 

  li {
    list-style: none;
    margin: math.div($font-size-base, 8);
    padding: 0;
    a {
      display: block;
      margin-bottom: 0;
      padding: 0;
      @include hoverActiveFocus($blue-light, true);
      &:focus,
      &:hover,
      &:active {
        img {
          background-color: $blue-light;  
        }        
      }
    }

  }

}