// The main navigation bar on every page

.primary-navigation {
  li {
    font-size: var(--wp--preset--font-size--display-three);
    font-weight: 500;
    text-transform: uppercase;
    a {
      color: var(--wp--preset--color--ucsc-primary-blue)
    }

  }
}
.sidebar-navigation {
  ul {
    margin-bottom:2em!important;
    li:first-child>a {
      border-top: 1px solid #ddd!important;
    }
    li>a {
      border-bottom: 1px solid #ddd!important;
      padding: 0.5em 0 0.5em 1em!important;
    }
  }

}

.wp-block-navigation .wp-block-navigation__submenu-icon {

    color: var(--wp--preset--color--ucsc-primary-yellow);
}
