// Rules for a page with a sidebar on the right

.right-column .sidebar {

  .inner {
    margin-bottom: 2em;
    @include clearfix;
  }

   .block-header {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0;
   }

  ul {
    list-style: square;
    font-size: 1em;
    margin: 0.5em 0 0;
    padding: 0 0 0 1.4em;
    li {
      padding: 0;
      margin: 0;
      line-height: 1.6;
      a {
        border-bottom: none;
        display: inline;
        padding: 0;
      }
      &:first-child a {
          border-top: none;
        }
    }
  }

}

// Modifier for news site.
.news.right-column .sidebar {
  ul li {
    line-height: 1.4;
    margin-bottom: 0.65em;
  }
}
