// A grid of thumbnails on a page

.thumb-list-grid {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  li {
    box-sizing: border-box;
    flex: 1;
    flex-basis: 100%;
    font-size: .95em;
    list-style: none;
    margin: .5em;
    padding: 0;
    text-align: center;

    a {
      align-items: center;
      background-color: $blue;
      border-radius: 0;
      box-sizing: border-box;
      color: $sand-light;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 1.35em 1em;
      text-decoration: none;

      i {
        color: rgba(255, 255, 255, .65);
        display: block;
        font-size: 2.2em;
        margin-right: .35em;
      }
    }

    @media (min-width: 470px) {
     flex-basis: 42%;

     a {
        padding: 2.5em .65em;
     }
    }

    @media (min-width: 640px) {
     flex-basis: 30%;

     a {
        padding: 1.6em .85em;
        min-height: 10em;
     }
    }            

    @media (min-width: 800px) {
     flex-basis: 20%;
     font-size: 1em;

     a {
        flex-direction: column;

        i {
           font-size: 2.8rem;
           margin: 0 0 .35em;
        }
     }
    }
    
    @media (min-width: 1024px) {
       font-size: 1.2rem;
    } 
   }
}