// Screen width breakpoints
// Styles will take effect 1px above these sizes
$small: 602px;
// The breakpoint where WP Media & Text blocks switch from being stacked for
// mobile to their normal desktop layout.
$wp-media-with-text-unstack: 601px;
// The breakpoint where WP block columns switch from being stacked for mobile to
// being actual columns.
$wp-columns-unstack: 782px;
$medium: 960px;
$desktop-menu: 1060px; // This one needs to be in pixels.
$large: 1282px;
$content-size: 80rem;

//	Use media queries like this:
//	@include media-query($on-palm) {
// 		[Write your selectors and style rules in here]
//	}
@mixin media-query($size) {

	@media screen and (min-width: $size) {
		@content;
	}

}

@mixin content-width($size: var(--max-container-1280)) {
	width: 100%;
	max-width: $size;
	margin: 0 auto !important;
}
