// Screen width breakpoints
// Styles will take effect 1px above these sizes
$small: 602px;
$desktop-menu: 1082px; // This one needs to be in pixels.
$medium: 1082px;
$large: 1282px;
$content-size: 80rem;

//	Use media queries like this:
//	@include media-query($on-palm) {
// 		[Write your selectors and style rules in here]
//	}
@mixin media-query($size) {

	@media screen and (min-width: $size) {
		@content;
	}

}
