/*--------------------------------------------------------------
# - Alignments
--------------------------------------------------------------*/
.alignleft {
	clear: left;
}

.alignright {
	clear: right;
}

.aligncenter {
	clear: both;
	display: table;
}
