/*--------------------------------------------------------------
# - Alignments
--------------------------------------------------------------*/
.alignleft {
	float: left;
	clear: left;
}

.alignright {
	float: right;
	clear: right;
}

.aligncenter {
	clear: both;
	display: table;
}

