// Layout and grid for all WCMS pages

#wrap {
  padding: 0 $font-size-base;
}

#main {
  clear: both;
}

.row {
  margin: 0 auto 2.5rem auto;
  clear: both;
  max-width: $max-width;
}


// ### Left-column and single-column pages
#sprflt,
.grid-container {

    display: flex;
    flex-direction: column;

    @include media($tablet) {
      flex-direction: row;
      margin-top: 4em;
    }

    #mainContent,
    .main-content {
      margin-bottom: 1.5em;
      @include span-columns(12);


      @include media($tablet) {
        @include span-columns(9);
        @include shift(3);
        padding-left: 20px;

        .single-column & {
          @include span-columns(12);
          @include shift(0);
          padding-left: 0;
        }

        .right-column & {
          @include span-columns(8);
          @include shift(0);
          padding-left: 0;
          padding-right: 20px;
        }
      }
    }

    #sideBar,
    .sidebar {
      @include span-columns(12);

      @include media($tablet) {
        @include span-columns(3);
        @include shift(-12);

        .right-column & {
          @include span-columns(4);
          @include shift(0);
        }
      }
    }

    #footer {
      @include display-context(block);
      @include row(default);
    }
}
