html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.wp-site-blocks {
	flex: 1 0 auto;
	display: grid;
	grid-template-rows: auto 1fr auto;

	&:has(.breadcrumbs-region) {
		grid-template-rows: auto auto 1fr auto;
	}
}

.editor-styles-wrapper {
	margin: 0 auto;
}
