// Carry-overs because their functionality would need to be replaced on a site-by-site basis.

/* Hide anything with this class (some Registrar FAQ pages use this) */
.sleed,
#mainNav li img,
 {
  display: none;
}

.upTitle {
  text-transform: uppercase;
  font-weight: 500;
}


/* Special table styles for special people */
.alt tr:nth-child(even) { background-color: #f7f7f7; }
.full { width:100%; }
.borderless,
.borderless td,
.borderless tr { border:none; }

.allborders,
.allborders td,
.allborders tr { border:1px solid $gray-light; border-radius: 0px; }
.allborders td { padding:0.4em 0.6em; }

/*
  There were a few experimental column styles
  in version 1 of the templates. Turns out, a
  few people found and used them.
*/
.columns-2 {
  background-color: lighten($brand-light-gray, 2%);
  border-bottom: 2px solid $brand-primary-blue;
  column-count: 2;
  column-gap: .75em;
  padding: 1em;
}

.columns-2 :first-child { margin-top:0; }


/*

The fancybox javascript library is configured at the site level
in a header block on the pages where it is used. This makes
changing configuration settings difficult.

To fix issue #241, these styles override the default settings
for fancybox.

https://github.com/ucsc/webtemplates2014/issues/241

*/
.fancybox-wrap.fancybox-opened .fancybox-title-float-wrap {
  position: relative;
  bottom: auto;
  right: 0;
  margin-bottom: 0;
  .child {
    background-color: transparent;
    border-radius: 0;
    color: $body-text;
    line-height: 1.8;
    margin-right: auto;
    padding: 0.25em;
    text-shadow: none;
    white-space: normal;
  }
}
