// Classes that modify the default display of elements.

.full {
  width: 100%;
}

.borderless {
  border: 0;

  td {
    border-bottom: 0;
  }
}

.hide {
  background-color: #fff;
  color: #000;
  left: -900em;
  outline: none;
  position: absolute;
}

figure[align="left"],
img[align="left"],
.align-left {
  clear: left;
  float: none;
  margin: 1em 0;

  @include media($portrait) {
    float: left;
    margin: 0 1.5em 1.5em 0;
  }
}

figure[align="right"],
img[align="right"],
.align-right {
  clear: right;
  float: none;
  margin: 1em 0;

  @include media($portrait) {
    float: right;
    margin: 0 0 1.5em 1.5em;
  }
}

figure[align="center"],
img[align="center"],
.align-center {
  clear: both;
  text-align: center;
}
