@use "sass:math";
// Reset styles created by someone cool on the internet

/* ============================================================
	Viewport
============================================================ */
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}


/* ============================================================
	HTML5 Elements
============================================================ */
section, nav, article, aside, hgroup, header, footer, main, figure, figcaption, details, menu {
	display: block;
}
audio, video, canvas {
	display: inline-block;
}


/* ============================================================
	Box sizing
============================================================ */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing:inherit;
}
