// Custom rules for PHP people directory pages

table td.rowHeadDirectory{
  font-weight: bold;
  width: 25%;
}

table.directoryTableInfo {
  font-size: 85%;
}

div.directoryPhoto {
  clear: right;
}

img.directoryPhoto {
  width: 20%;
  margin: 1em 0 1em 0;
  background-color: white;
}

div.directoryTextBlock,
div.directoryPhoto {
  // padding: 1em;
  background-color: white;
  @include clearfix;
  margin-bottom: 2em;
  // @include module-box-shadow(light);
}

div.directoryTextBlock h3 {
  margin-top: 0;
}

.directoryTableInfo {
  width: 72%;
  float: right;
  #title {
    font-size: 1.8em;
    color: $blue;
  }
}

.directoryTableInfo,
img.directoryPhoto {
  @include media($mobile) {
    width: 100%;
    float: none;
    margin: 1em 0;
  }
}
