// Rules for second-level pages, linked from main navigation on the campus home page
.landing {

  .title {
    color: $gold-light;
    min-height: 90px;
    position: relative;

    h1,
    p {
      @include hide-text;
    }

    img {
      left: 0;
      position: absolute;
      top: 0;
    }

  }

}

