.single {
.wp-block-post-date {
	color: var(--wp--custom--color--default-text);
	}
}

.site-content {
  word-wrap: break-word;
  flex-direction: row;

  .sticky {
  box-shadow: 0 0.25rem 8px rgb(36 49 66 / 20%);
	padding: 1.3em 1.5em;
	margin-bottom: 2em;}
}

.post-subtitle {
	.post-subtitle-text {
		font-size: var(--wp--preset--font-size--large);
		color: var(--wp--custom--color--light-gray);
		margin: 0 0 1em;
		line-height: 1.4;
	}
}

.campus-message {
	color: var(--wp--custom--color--light-gray);
	margin: 0 0 1em !important;
	line-height: 1.4;

	.campus-message-label {
		font-weight: 700
	}

