.wp-block-post-date {
	color: var(--wp--custom--color--default-text);
	}

.site-content {
  word-wrap: break-word;
  flex-direction: row;

  .sticky {
  box-shadow: 0 0.25rem 8px rgb(36 49 66 / 20%);
	padding: 1.3em 1.5em;
	margin-bottom: 2em;}
}

.post-subtitle {
	font-size: var(--wp--preset--font-size--large);
}
.campus-message, .post-subtitle {

	color: var(--wp--custom--color--light-gray);
	margin: 0 0 1em;
	line-height: 1.4;
	& > p {
				font-size: var(--wp--preset--font-size--large);
				margin: 0;
		}
	& > p > span {
		font-weight:700
	}
	}
