.site-content {
  word-wrap: break-word;
  flex-direction: row;
  margin-top: 4em;
}

// .site-content>* {
//     margin: 60px auto
// }

// .site-content>:not(.alignfull) {
//     max-width: 67.5rem;
//     /* padding: 0 15px */
// }

// .site-content>.alignwide {
//     max-width: 1240px
// }
