// Custom rules for Google search results pages

.gsc-refinementsArea {
  display: none;
}

.gsc-above-wrapper-area-container {
  margin-bottom: 0;
  margin-top: 0;
}

.gsc-result-info-container {
  border-bottom: 0;
}

.gsc-resultsHeader {
  display: none;
}

.gsc-webResult.gsc-result {
  margin: .25em 0;
  padding: .25em;
}

.gsc-table-result {
  margin-bottom: 0;
  margin-top: 0;

  td {
    border-bottom: 0;
  }
}

.gs-image,
.gcsc-branding-img-noclear img {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}
