.wp-block-site-title > a {
	color: var(--wp--custom--color--site-title);
	text-decoration: none;
}
.wp-block-site-title > a:hover, .wp-block-site-title > a:focus, .wp-block-site-title > a:active {
        color: var(--wp--preset--color--ucsc-primary-blue);
        text-decoration: none;
  }
.wp-block-site-title >* .flourish {
        color: var(--wp--custom--color--flourish);
        font-family: Georgia,serif;
        font-size: .65em;
        font-style: italic;
        font-weight: 300;
        line-height: 1.3;
        margin: 0 -0.02em;
        position: relative;
        text-transform: lowercase;
        top: -0.1em;
      }
