/* BLOCK PATTERN: Homepage Hero */

.ucsc__homepage-hero-header {
	max-width: 1280px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;

	> .wp-block-heading {
		justify-self: flex-start;
	}
}

.ucsc__homepage-hero--bottom {
	margin-top: calc(var(--wp--preset--spacing--60) * -1);
}

.ucsc__homepage-hero-cards {

	&.is-not-stacked-on-mobile {
		flex-wrap: wrap !important;
		align-items: center !important;
		gap: 160px 60px;

		> .wp-block-column {
			flex-basis: 100% !important;
		}

		@include media-query($medium) {
			flex-wrap: inherit !important;
		}
	}
}

.ucsc__homepage-hero-card {
	position: relative;

	&::after {
		content: "";
		height: 1px;
		width: 90%;
		background: #ccc;
		position: absolute;
		right: 5%;
		bottom: -80px;

		@include media-query($medium) {
			height: 110%;
			width: 1px;
			background: #ccc;
			position: absolute;
			right: -34px;
			transform: translateX(50%);
			top: -18%;
		}

	}

	&:last-child {

		&::after {
			content: none;
		}
	}
}

.ucsc__homepage-hero-card-title {
	position: absolute;
	left: 50%;
	top: 0;
	width: 100%;
	padding: 0;
	transform: translate3d(-50%, -50%, 0);

	> mark {
		padding-left: 8px;
		padding-right: 8px;
	}
}
