/*
BLOCK PATTERNS:
	Page header,
	Page header with color bar below,
	Page header with marquee
*/

.ucsc-page-header {
	margin: 0;
}

.ucsc-page-header__content {

	.page-template-page-no-title-with-breadcrumbs & {
		padding-top: var(--wp--preset--spacing--20) !important;
	}

	.wp-block-cover__inner-container {
		align-self: flex-start;

		@include content-width;

		.page-template-page-no-title-with-breadcrumbs & {
			display: grid;
			grid-template-columns: 1fr;
			gap: var(--wp--preset--spacing--20);
		}
	}
}

.ucsc-page-header__title {
	display: inline-block;
}

.ucsc-marquee {
	display: inline-block;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		display: inline-block;
		text-wrap: pretty;
	}
}
