/* BLOCK PATTERN: Statistics */

.ucsc__statistics-content {
	position: relative;
	transform: translateY(calc(var(--wp--preset--spacing--70) * -1));
	z-index: 1;
}

.ucsc__statistics-item-value {
	text-decoration: underline;
	text-decoration-color: var(--wp--preset--color--ucsc-green);
	text-underline-offset: 0.4em;
	text-decoration-thickness: from-font;
}

.ucsc__no-cover .ucsc__statistics-content {
	transform: none;
}
