/* BLOCK PATTERN: Statistics */

.ucsc__statistics-content {
	position: relative;
	transform: translateY(calc(var(--wp--preset--spacing--70) * -1));
	z-index: 1;
}

.ucsc__statistics-item-value {
	text-decoration: underline var(--wp--preset--color--ucsc-primary-yellow);
	text-underline-offset: 8px;
}
