/* BLOCK PATTERN: 3 Columns: Text Only */

.ucsc-3-column-text {
	display: grid !important;
	grid-template-columns: 1fr !important;

	@include media-query($medium) {
		grid-template-columns: repeat(3, 1fr) !important;
	}

	> * {
		height: 100%;
	}

	.ucsc-3-column-text__cta {
		margin-top: auto;
		margin-bottom: 0;

		> * {
			margin-top: 24px !important;
		}
	}
}

