//
// Footer Editor Styles
//===============================

  .main-footer{
    .footer-left {
      .address {
        margin-left: calc(var(--wp--style--block-gap)/2)!important;
        .location {
          margin: 0 0 3px 0
        }
        .copyright {
          margin:0!important;
        }
      }
    }
    .footer-right {
      .social-media {
        margin-top:14px;
        margin-top: 0.875rem;
        margin-bottom: 5px;
        margin-bottom: 0.313rem;
      }
    .legal {
      .wp-block-navigation-item {
        &:first-child:after {
        display:none;
        }
        &:after {
          background-color: var(--wp--preset--color--ucsc-primary-yellow);
          width: 5px;
          height: 5px;
          border-radius: 50%;
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: -.75em;
          margin-left: -2.5px;
          margin-top: -2.5px;
        }
      }

    }
  }


