footer {
  text-transform: uppercase;
  .main-footer {
    .address {

      padding-left: 100px;
      padding-top: 20px;

    }
    .location {
      font-weight: 700;
      font-size: .95rem;
      margin-bottom: 3px;

    }
    .copyright {
      font-size: .8rem;
    }
    .legal {
      text-align: center;
      margin-bottom: 2em;
      font-size: .8em!important;
      ul {
        margin: 0 0 1.5em 0;
      }
      li {
        margin-left: 1.5em;
        &:first-child:after {
          display:none;
        }
        &:after {
          background-color: var(--wp--preset--color--ucsc-primary-yellow);
          width: 5px;
          height: 5px;
          border-radius: 50%;
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: -.75em;
          margin-left: -2.5px;
          margin-top: -2.5px;
        }
      }
    }
  }
}


