//
// Editor Header Styles
//===============================
.site-header {
  .main-header {
    margin-bottom: 2em!important;
    .names{
      margin-top: 1.5em;
      margin-bottom: 1em;
      border-bottom: 2px solid var(--wp--preset--color--ucsc-primary-yellow)!important;

    }
  }
}

