//
// Header Styles
//===============================
.site-header {
  .page-top {
    .campus-logo {
      background: transparent url($uc-seal) no-repeat 0 0;
      display: block;
      height: 26px;
      overflow: hidden;
      text-indent: -10000px;
      width: 128px;
    }
    .top-menu {
      .wp-block-navigation__container {
        gap:0.8em!important;
      }
    }
    .top-search {
      margin-left: 0!important;
      .wp-block-search__input {
        padding: 0.4em 0.5em!important;
      }
    }
  }
  .main-header {
    margin-bottom: 2em!important;
    .wp-block-site-title {
      a {
        text-decoration: none;
      }
    }
    .names{
      margin-top: 1.5em;
      margin-bottom: 1em;
      border-bottom: 2px solid var(--wp--preset--color--ucsc-primary-yellow)!important;

    }
    .main-navigation {
      margin-top:0!important;
      margin-bottom:1.2em!important; //TODO: Only for Home Page, rest, 0px
    }
  }
}


