//
// Header Styles
//===============================
.site-header {
  .page-top {
		[class*="page-top-"] {
			align-self:center;
		}
    .campus-logo {
      // background: transparent url($campus-logo) no-repeat 0 0;
      display: block;
      height: 26px;
      overflow: hidden;
      // text-indent: -10000px;
      width: 128px;
      line-height: 1.5;
      margin-left: 0;
    }

    .page-top-right {

      .row {
        .wp-block-columns {
					margin: 0;}

				}

		}
    .top-menu {
      .wp-block-navigation__container {
        gap:0.8em!important;
      }
    }
    .top-search {

      .wp-block-search__input {
        padding: 0.4em 0.5em!important;
      }
    }
  }
  .main-header {
    margin-bottom: 2em;

    .names{
      margin-top: 1.5em;
      margin-bottom: 1em;
      border-bottom: 2px solid var(--wp--preset--color--ucsc-primary-yellow)!important;

      .mainsite-logo {
       background: transparent url($campus-logo) no-repeat 0 0;
       display: block;
       height: auto;
       overflow: hidden;
       text-indent: -10000px;
       width: 220px;
       margin-bottom: 0.35em;

      }
    }
    .main-navigation {
      margin-top:0!important;
      margin-bottom:1.2em!important; //TODO: Only for Home Page, rest, 0px
    }
  }
}

