// For dynamic content on PHP pages
// See: https://github.com/ucsc/webtemplates2014/wiki/Changes-to-soc.css

// All of the PHP content is wrapped in this div.
// There is a namespace conflict with `.row`
// So we're specifying that rows within the .table div pf .phpContent span full-width.
.phpContent {

  .table::before {
    content: '\021E0  Scroll side to side for more information \021E2';
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding: .5em 0;
    text-align: center;
  }

  .table {
    font-size: 13px;
    min-width: 100%;
    display: block;
    overflow-x: scroll;

    .row {
      display: flex;
      margin: .2em 0;
      max-width: 100%;
      min-width: 1000px;
      overflow: visible;
      padding: 0.45em 2em 0.45em 0;
      width: 100%;
      border-bottom: 1px solid #d3d2d1;

      &.even,
      &.odd {
        background-color: white
      }

      &.even div {
        background: #ece9d8;
        background: white;

      }

      &.odd div {
        background: #f2f0e4;
        background: white;
      }

      > div {
        flex: 1 0 12%;
        line-height: 1.3;
        padding: .3em .15em;
      }

      > .idCol,
      > .titleCol,
      > .timesCol,
      > .locationCol,
      > .instructorCol {
        flex: 1 0 14%;
      }

      > .yearCol,
      > .qtrCol,
      > .classNbrCol,
      > .mtgDaysCol {
        flex: 1 0 6%;
      }
    }
  }
}
