// Rules for the logo and site title in the second row of every page
// Except in the 'www' site, where only the logo is present

.names {

  // Mobile
  margin: 1.5em auto 1em auto;
  display:flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--wp--preset--color--ucsc-link-decoration);


}
