@use "sass:math";

.page-top {
  padding: 10px $font-size-base 12px $font-size-base;
  margin-left: -$font-size-base;
  margin-right: -$font-size-base;
  margin-bottom: 1em;
  @include media($tablet) {

    margin-bottom: 3.25em;

  }

  .row {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;

    &:after {
      all: unset;
    }

    @include media($tablet) {
      align-items: center;
      flex-direction: row;
    }

  }

.page-top-left,
.page-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  @include media($tablet) {
    width: auto;
  }
}

.campus-secondary {
  text-indent: -10000px;
  background: transparent url('/images/logos/uc-santa-cruz-2021.svg') no-repeat left top;
  display: block;
  width: 128px;
  height: 26px;
}

.page-top-right {

  padding: 1em 0;
  flex: 1;
  gap: 1em;
  justify-content: flex-start;
  flex-direction: column-reverse;

  @include media($tablet) {
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0;
  }
}

}


// ## Global Navigation
// The global navigation at the top of the page.
// Collapsed (with toggle) on smaller screens.
#topNav,
.global-nav {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: .9em;
    margin: 0;
    gap: .8em;
    
    
    li {
      margin: 0;
      padding:0;
      list-style: none;
      flex: 1 1 46%;
    }

    a {
      text-transform: uppercase;
      color: $brand-tertiary-blue;
      padding: .25em .5em;
    }

    // Tablet and up
    @include media($tablet) {

        flex-wrap: nowrap;
        gap: 0.8em;
        margin: 0;

        > li {          
          line-height: 1.2em;
          list-style-type: none;
          flex: auto;                
        }

        a {
          border: none;
          background-color: transparent;
          border-radius: 0;
          font-weight:400;
          padding: 0;
          @include hoverActiveFocus($brand-primary-blue, true);
        }
    }
}


// ## Site Search
// Search box for searching each site.
.search {
  border-radius: 6px;
  border: 2px solid lighten($gray-light, 8%);
  transition: all .1s;
  width: 100%;
  max-width: 20em;

  &:focus-within {
    border: 2px solid $brand-tertiary-blue;
    box-shadow: 2px 4px 8px lighten($gray, 24%);
  }

  form > div {
    display: flex;
  }

  label {
    display: block;
    position: absolute;
    text-indent: -100em;
  }

  input[type="text"] {
    border: none;
    border-radius: 6px;
    padding: 0.4em 0.5em;
    flex-grow: 1;

    &:focus,
    &:hover,
    &:active {
      color: $brand-dark-gray;
      border: none;
      outline: none;
      box-shadow: none;
    }

  }

  input[type="submit"] {
    background: url(https://webassets.ucsc.edu/images/looking-glass.svg) no-repeat;
    background-size: 22px;
    background-position: center center;
    border: 0;
    left: auto;
    outline: none;
    text-indent: -100em;
    top: 8%;
    width: 2em;
    z-index: 100;
  }


  @include media($tablet) {
    
    margin-left: 1em;
    width: auto;
    max-width: auto;

    form > div {
      display: block;
    }
    
  }
}



