//
// Footer Styles
//===============================

.footer-region {

	// TODO: Solution for small screen left/right padding
	// margin-left: calc(-1 *(var(--wp--custom--spacing--baseline) / 2));
	// margin-right: calc(-1 *(var(--wp--custom--spacing--baseline) / 2));
	// clear: both;

	clear: both;
	margin-top: 3rem;
	flex-shrink: 0;

}
