/* ===============================
Footer Styles
=============================== */

.footer-region {

	// TODO: Solution for small screen left/right padding
	// margin-left: calc(-1 *(var(--wp--custom--spacing--baseline) / 2));
	// margin-right: calc(-1 *(var(--wp--custom--spacing--baseline) / 2));
	// clear: both;

	clear: both;
	margin-top: 3rem;
	flex-shrink: 0;
}

.lm-footer {
	grid-template-columns: 1fr !important;
	padding: 0 !important;

	@include media-query($small) {
		padding: 0 0 0.8rem 0 !important;
	}

	li {
		font-size: 0.8rem !important;
	}
}
