//
// UCSC Header
//

.ucsc-header {

	background: linear-gradient(90deg, #003c6c 40%, #006aad 40%);

	.ucsc-header__inner {
		background: linear-gradient(128deg, #003c6c 12rem, #006aad 12rem);

		@include media-query($small) {
			background-image: linear-gradient(128deg, #003c6c 14rem, #006aad 14rem);
			// TODO: Create SVG with BG colors for this image
			// background-image: url(/images/waves-transition.svg), linear-gradient(128deg, #003c6c 16rem, #006aad 16rem);
			// background-repeat: no-repeat;
			// background-position: center center, center top;
			// background-size: 100%, cover;
		}
	}

	.ucsc-header__inner-left {
		display: flex;
		align-items: center;
	}

	.ucsc-header__search {
		background-color: var(--wp--preset--color--white);
	}

	.wp-block-search__button {
		background-color: transparent;
		border: none;
		color: var(--wp--preset--color--ucsc-primary-blue);

		&:focus,
		&:active {
			outline: 2px solid var(--wp--preset--color--ucsc-primary-blue);
		}
	}

}
