/**
 * UCSC Header Region
 */

.ucsc-header {

	background: linear-gradient(90deg, #003c6c 40%, #006aad 40%);

	.ucsc-header__inner {
		background-image: linear-gradient(130deg, #003c6c 4rem, #006aad 18rem);
		background-repeat: no-repeat;
		background-position: 48px center, center top;
		background-size: cover, cover;

		@include media-query($small) {
			// background-image: linear-gradient(128deg, #003c6c 14rem, #006aad 14rem);
			background-position: 80px center, center top;
			background-size: contain, cover;
		}
	}

	.ucsc-header__inner-left {
		display: flex;
		align-items: center;
	}

	.ucsc-header__search form > div {
		background-color: var(--wp--preset--color--white);
	}

	.wp-block-search__button {
		background-color: transparent;
		border: none;
		color: var(--wp--preset--color--ucsc-primary-blue);
		padding: var(--wp--preset--spacing--x-small);

		&:focus,
		&:active {
			outline: 2px solid var(--wp--preset--color--ucsc-primary-blue);
		}
	}
}
