<!-- wp:template-part {"slug":"header","theme":"ucsc-2022","tagName":"header","className":"header-region"} /-->
<!-- wp:template-part {"slug":"breadcrumbs","theme":"ucsc-2022","className":"breadcrumbs-region"} /-->

<!-- wp:group {"tagName":"main","className":"content-region","layout":{"inherit":true}} -->
<main class="wp-block-group content-region">

	<!-- wp:group {"layout":{"type":"constrained"}, "style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->
	<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50)">

		<!-- wp:heading {"level":1,"className":"entry-title"} -->
		<h1 class="entry-title">
			404: Page not found
		</h1>
		<!-- /wp:heading -->

		<!-- wp:paragraph {"fontSize":"medium"} -->
		<p class="has-medium-font-size">
			It looks like nothing was found at this location. Maybe try a search or one of the links in the navigation menu.
		</p>
		<!-- /wp:paragraph -->

		<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search this site","width":50,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"fontSize":"one"} /-->

	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ucsc-2022","tagName":"footer","className":"footer-region"} /-->
