<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-content","layout":{"inherit":true}} -->
<main class="wp-block-group site-content">
	<!-- wp:query-title {"level":1, "type":"archive"} /-->

	<!-- wp:query-loop -->

	<!-- wp:template-part {"slug":"content-archive-search", "className":"content-archive-search"} /-->

	<!-- /wp:query-loop -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
