<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-content","layout":{"inherit":true}} -->
<main class="wp-block-group site-content">
<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">
	Archive Title (there is no block for that yet)
</p>
<!-- /wp:paragraph -->

<!-- wp:query-loop -->

<!-- wp:template-part {"slug":"content-home", "className":"content-archive","theme": "theme-ucsc"} /-->

<!-- /wp:query-loop -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
