<!-- wp:template-part {"slug":"header","theme":"ucsc-2022","tagName":"header","className":"header-region"} /-->

<!-- wp:group {"tagName":"main","className":"content-region","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group content-region"><!-- wp:group {"align":"full","className":"ucsc-page-header","layout":{"type":"default"},"fontSize":"base"} -->
	<div class="wp-block-group alignfull ucsc-page-header has-base-font-size"><!-- wp:cover {"dimRatio":50,"contentPosition":"center center","isDark":false,"className":"ucsc-page-header__content","style":{"spacing":{"padding":{"top":"var:preset|spacing|50"}}}} -->
		<div class="wp-block-cover is-light ucsc-page-header__content" style="padding-top:var(--wp--preset--spacing--50)"><span aria-hidden="true" class="wp-block-cover__background has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"default"}} -->
			<div class="wp-block-group"><!-- wp:query-title {"type":"archive","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","right":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20"}}},"backgroundColor":"ucsc-primary-yellow","textColor":"ucsc-primary-blue","className":"ucsc-page-header__title primary-post-title","fontSize":"seven"} /--></div>
			<!-- /wp:group --></div></div>
		<!-- /wp:cover --></div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"post-query","theme":"ucsc-2022","className":"archive-query"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ucsc-2022","tagName":"footer","className":"footer-region"} /-->
