<!-- wp:template-part {"slug":"header","theme":"ucsc-2022","tagName":"header","className":"header-region"} /-->

<!-- wp:group {"tagName":"main","className":"content-region","layout":{"type":"constrained"}} -->
<main class="wp-block-group content-region"><!-- wp:heading {"level":1} -->
	<h1>News</h1>
	<!-- /wp:heading -->

	<!-- wp:template-part {"slug":"post-query","theme":"ucsc-2022","className":"home-query"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ucsc-2022","tagName":"footer","className":"footer-region"} /-->