<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-content","layout":{"inherit":true}} -->
<main class="wp-block-group site-content">
	<!-- wp:post-title {"level":1} /-->

	<!-- wp:post-date /-->

	<!-- wp:post-author {"showAvatar":false,"showBio":false,"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->

	<!-- wp:post-content /-->
	</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
