<!-- wp:template-part {"slug":"header","theme":"ucsc-2022","tagName":"header","className":"header-region"} /-->

<!-- wp:group {"tagName":"main","className":"content-region","layout":{"inherit":true}} -->
<main class="wp-block-group content-region">

	<!-- wp:post-title {"level":1,"className":"primary-post-title"} /-->
	<!-- wp:post-date /-->
	<!-- wp:post-author {"showAvatar":false,"showBio":false,"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->
	<!-- wp:post-content /-->
	<!-- wp:post-comments /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ucsc-2022","tagName":"footer","className":"footer-region"} /-->
