a {
	color: var(--wp--preset--color--ucsc-primary-blue);
	text-decoration-color: var(--wp--custom--color--link-decoration);
	text-decoration-thickness: 0.12rem;
	text-underline-offset: 0.12em;

	&:hover,
	&:focus,
	&:active {
		color: var(--wp--preset--color--ucsc-secondary-blue);
		text-decoration: underline;
		text-decoration-color: var(--wp--preset--color--ucsc-primary-yellow);
		text-decoration-skip-ink: auto;
		text-decoration-thickness: 0.12rem;
		text-underline-offset: 0.12em;
	}
}

// When a link is on a dark background, provide a legible inverse color
// alternative.
.has-white-color,
.has-ucsc-lightest-gray,
.has-ucsc-light-gray,
.has-ucsc-violator-yellow-color,
.has-ucsc-violator-pink-color {

	a {
		color: var(--wp--preset--color--white);

		&:hover,
		&:focus,
		&:active {
			color: var(--wp--preset--color--ucsc-primary-yellow);
		}
	}
}

// Clicking anchor links should
// have padding to account for
// the fixed header height
:target {
	scroll-margin-top: 5rem;
	animation: 2s ease-out 0.1s bgcolor;

	@keyframes bgcolor {

		from {
			background-color: initial;
		}

		15% {
			background-color: var(--wp--preset--color--ucsc-primary-yellow);
		}

		to {
			background-color: initial;
		}
	}

	@include media-query($wp-columns-unstack) {
		scroll-margin-top: 11rem;
	}
}

/**
	* Linked Images hover, focus, active transition
	*/

/**
	* Figure elements that have linked images
	* transition on hover, focus and active
	* unless a user "prefers reduced motion."
	*/
	figure:has(a),
	.wp-block-latest-posts__featured-image:has(a) {
	a {
		overflow: hidden;
		display: block;

		img {
			transition: transform 0.3s ease;
		}

		&:focus,
		&:hover,
		&:active {
			img {
				transform: scale(1.15);
				@media screen and (prefers-reduced-motion: reduce) {
					transform: none;
				}
			}
		}
	}
}

/**
	* Figure elements that have linked background images
	* transition on hover, focus and active
	* unless a user "prefers reduced motion."
	*/
figure[style^="background-image"]:has(a) {
	transition: all 0.3s ease;
	background-size: 100% !important;
	&:focus,
	&:hover,
	&:active {
		background-size: 115% !important;
	}
}

/**
	* Prefers reduced motion media query
	*
	* With a background image, the entire figure element
	* needs to be wrapped in the media query
	*
	*/

@media screen and (prefers-reduced-motion: reduce) {
	figure[style^="background-image"]:has(a) {
		background-size: 100% !important;
		&:focus,
		&:hover,
		&:active {
			background-size: 100% !important;
		}
	}
}
