 a {

    text-decoration-color: var(--wp--custom--color--link-decoration)!important;
    text-decoration-thickness: .14em!important;
    text-underline-offset: .1em!important;
  &:hover, &:focus, &:active {
    text-decoration-thickness: .1em!important;
  }
}

