a {
	color: var(--wp--preset--color--ucsc-primary-blue);
	text-decoration-color: var(--wp--custom--color--link-decoration);
	text-decoration-thickness: 0.12rem;
	text-underline-offset: 0.12em;

	&:hover,
	&:focus,
	&:active {
		color: var(--wp--preset--color--ucsc-secondary-blue);
		text-decoration: underline;
		text-decoration-color: var(--wp--preset--color--ucsc-primary-yellow);
		text-decoration-skip-ink: auto;
		text-decoration-thickness: 0.12rem;
		text-underline-offset: 0.12em;
	}
}

