.wp-block-button.aligncenter {
	text-align: center;
}

.wp-block-button > a {
	text-decoration: none;
}

.wp-block-button > a:focus,
.wp-block-button > a:hover,
.wp-block-button > a:active {
	text-decoration: none;
}

.wp-block-button {
	cursor: pointer;
	font-weight: 600;
	letter-spacing: .08rem;
}
