/**
 * WP Core Button Blocks
 *
 * Note that this file supplements the theme's general `wp-element-button`
 * styles with specific styles for button within core button blocks. General
 * styles are contained in the theme's component styles for use across the theme
 * and dependent plugins.
 */
.wp-block-button.aligncenter {
	text-align: center;
}

.wp-block-button > a,
.wp-block-button > a:focus,
.wp-block-button > a:hover {
	text-decoration: none;
}

.wp-block-button > a:active {
	text-decoration: none;
	border-width: 2px;
	border-style: solid;
}

.wp-block-button {
	cursor: pointer;
	font-weight: 400;
	transition: 0.5s;
}

.wp-block-button:focus,
.wp-block-button:hover,
.wp-block-button:active {
	transition: 0.3s;
}
