.wp-block-button.aligncenter {
	text-align: center;
}

.wp-block-button__link {
	padding: calc(0.5em + 2px) calc(1.75em + 2px);
}

.wp-block-button > a {
	text-decoration: none;
}

.wp-block-button > a:focus,
.wp-block-button > a:hover {
	text-decoration: none;
}

.wp-block-button > a:active {
	text-decoration: none;
	border-width: 2px;
	border-style: solid;
}

.wp-block-button {
	cursor: pointer;
	font-weight: 400;
}

/*
	White button styles
*/
.is-style-ucsc-white .wp-block-button__link {
	border: 2px solid var(--wp--preset--color--black);
	color: var(--wp--preset--color--black);
	background-color: var(--wp--preset--color--white);
}

.is-style-ucsc-white .wp-block-button__link:focus,
.is-style-ucsc-white .wp-block-button__link:hover {
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--black);
}

.is-style-ucsc-white .wp-block-button__link:active {
	color: var(--wp--preset--color--black);
	background-color: var(--wp--preset--color--white);
}

/*
	Black button styles
*/
.is-style-ucsc-black .wp-block-button__link {
	border: 2px solid var(--wp--preset--color--black);
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--black);
}

.is-style-ucsc-black .wp-block-button__link:focus,
.is-style-ucsc-black .wp-block-button__link:hover {
	color: var(--wp--preset--color--black);
	background-color: var(--wp--preset--color--white);
}

.is-style-ucsc-black .wp-block-button__link:active {
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--black);
}

/*
	Blue button styles
*/
.is-style-ucsc-blue .wp-block-button__link {
	border: 2px solid var(--wp--preset--color--ucsc-secondary-blue);
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--ucsc-secondary-blue);
}

.is-style-ucsc-blue .wp-block-button__link:focus,
.is-style-ucsc-blue .wp-block-button__link:hover {
	color: var(--wp--preset--color--ucsc-secondary-blue);
	background-color: var(--wp--preset--color--white);
}

.is-style-ucsc-blue .wp-block-button__link:active {
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--ucsc-secondary-blue);
}

/*
	Red button styles
*/
.is-style-ucsc-red .wp-block-button__link {
	border: 2px solid var(--wp--preset--color--ucsc-rubine-red);
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--ucsc-rubine-red);
}

.is-style-ucsc-red .wp-block-button__link:focus,
.is-style-ucsc-red .wp-block-button__link:hover {
	color: var(--wp--preset--color--ucsc-rubine-red);
	background-color: var(--wp--preset--color--white);
}

.is-style-ucsc-red .wp-block-button__link:active {
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--ucsc-rubine-red);
}

/*
	Ocean button styles
*/
.is-style-ucsc-ocean .wp-block-button__link {
	border: 2px solid var(--wp--preset--color--ucsc-ocean-blue);
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--ucsc-ocean-blue);
}

.is-style-ucsc-ocean .wp-block-button__link:focus,
.is-style-ucsc-ocean .wp-block-button__link:hover {
	color: var(--wp--preset--color--ucsc-ocean-blue);
	background-color: var(--wp--preset--color--white);
}

.is-style-ucsc-ocean .wp-block-button__link:active {
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--ucsc-ocean-blue);
}



/*
	All button state changes are animated
*/
.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:active {
	transition: all .3s ease-in-out;
}
