.wp-block-image figcaption {
	text-align: left;
	font-size: var(--wp--preset--font-size--small);
	color: var(--ucsc-dark-gray);
}

body .is-layout-constrained > .alignleft {
	margin-left: calc((100% - var(--wp--style--global--content-size)) / 2) !important;
}

body .is-layout-constrained > .alignright {
	margin-right: calc((100% - var(--wp--style--global--content-size)) / 2) !important;
}
