.is-style-ucsc-intro-text {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: var(--wp--preset--spacing--30);
	margin-left: 0;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
	font-size: var(--wp--preset--font-size--two);
}
