
.wp-block-query-pagination {
	justify-content:center;
}

.wp-block-query-pagination  a, .wp-block-query-pagination  a:hover, .wp-block-query-pagination  a:active  {
	text-decoration:none;
}

.wp-block-query-pagination  a:hover, .wp-block-query-pagination  a:active  {
	background-color: var(--wp--custom--color--link);
	color: var(--wp--preset--color--white);
}
.wp-block-query-pagination-numbers {
	margin:1rem 0 !important;
}

.wp-block-query-pagination-previous, .wp-block-query-pagination-next {
	padding: 0.75rem;
	margin: 0!important;
}


.wp-block-query-pagination-numbers > .page-numbers {
	padding: 0.75rem;
	margin:0 0 0.75rem;
}

.wp-block-query-pagination-numbers > .page-numbers.current  {
	background-color: var(--wp--preset--color--ucsc-rubine-red);
	color: var(--wp--preset--color--white);
	font-weight:700;
}
