
.wp-block-quote::before {
	display: block;
	font-style: normal;
	font-weight: 700;
	position: absolute;
	line-height: 1;
	font-size: 12rem;
	font-family: var(--wp--preset--font-family--roboto-serif);
	content: "“";
	top: -1.5rem;
	left: 0;
	color: #d2e7f4;
}

.wp-block-quote {
	position: relative;
	padding: 4rem 3.2rem 0 3.2rem;
	border: none;
}

.wp-block-quote > p:first-child {
	margin-top: 0;
}

.wp-block-quote cite {
	display: block;
	font-size: 1em;
}

