
.wp-block-quote::before {
	display: block;
	font-style: normal;
	font-weight: 700;
	position: absolute;
	line-height: 1;
	font-size: 4rem;
	font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif;
	content: "“";
	top: 0;
	left: 0;
	color: #d2e7f4;
	margin-block-start: 1rem;
}

.wp-block-quote {
	position: relative;
	padding: 2.5em 3.2em 0 2em;
	border: none;
}

.wp-block-quote > p:first-child {
	margin-top: 0;
}

.wp-block-quote cite {
	display: block;
	font-size: 1em;
}

