.wp-block-separator.has-background:not(.is-style-dots) {
	height: 2px;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots).is-style-ucsc-small {
	width: 20%;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots).is-style-ucsc-medium {
	width: 40%;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots).is-style-ucsc-large {
	width: 60%;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots).is-style-ucsc-full {
	width: 100%;
}
