.wp-block-site-title > a {
	color: var(--wp--preset--color--text-gray);
	text-decoration: none;
}

.wp-block-site-title > a:hover,
.wp-block-site-title > a:focus,
.wp-block-site-title > a:active {
	color: var(--wp--preset--color--text-gray);
	text-decoration: none;
}
